<div class="container__big-card">    
        <div class="big-card__photo">
            <a href="{{ photoZoom }}" target="_blank">
                <img 
                src="{{ photoCover }}"
                alt=""
                height="200px"         
                srcset=""
                >
            </a>            
        </div>
        <div class="big-card__title">
            <h1><a href="{{ cardLink }}" target="_blank">{{ cardTitle }}</a></h1>
        </div>
        <div class="big-card__description">
            <p><a href="{{ cardLink }}" target="_blank">{{ cardDescription }}</a></p>       
        </div>   
</div>