<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <a href="{{ photoZoom }}" target="_blank">
                <img
                src="{{ photoCover }}"
                alt="foto"
                height=""         
                srcset=""
                >
            </a>
            
        </div>
        
        <div class="small-card__title">
            <h1><a href="{{ cardLink }}" target="_blank">{{ cardTitle }}</a></h1>
        </div>
    </div>
    
    <div class="container__small-card-line">
        <hr/>
    </div>
</div>



